@model capa_entidad.ReservaViewModel


@{
    ViewData["Title"] = "AgregarReserva";
}

<h1>Agregar nueva reserva</h1>

<form action="InsertarReservas" method="post" class="container">

    <section class="mb-3">
        <select asp-for="Reserva.IdCancha">
            @if (Model.ListaCanchas != null)
            {
                foreach (var cancha in Model.ListaCanchas)
                {
                    <option value="@cancha.IdCancha">@cancha.Nombre</option>
                }
            }
        </select>

    </section>
    <section class="mb-3">
        <select asp-for="Reserva.IdCliente">
            @if (Model.ListaClientes != null)
            {
                foreach (var cliente in Model.ListaClientes)
                {
                    <option value="@cliente.IdCliente">@cliente.Nombre</option>
                }
            }
        </select>

    </section>
    <section class="mb-3">
        <label asp-for="Reserva.IdUsuario" class="form-label"></label>
        <input asp-for="Reserva.IdUsuario"  value = "1" class="form-control" readonly />
        <span asp-validation-for="Reserva.IdUsuario" class="text-danger"></span>

    </section> 
    <section class="mb-3">
        <label asp-for="Reserva.FechaReserva" class="form-label"></label>
        <input type="date" asp-for="Reserva.FechaReserva" value = "@DateTime.Now.ToString("dd/MM/yyyy")" class="form-control" />
        <span asp-validation-for="Reserva.FechaReserva" class="text-danger"></span>

    </section>
    <section class="mb-3">
        <label asp-for="Reserva.HoraInicio" class="form-label"></label>
        <input type="time" asp-for="Reserva.HoraInicio" class="form-control" />
        <span asp-validation-for="Reserva.HoraInicio" class="text-danger"></span>

    </section>
    <section class="mb-3">
        <label asp-for="Reserva.HoraFin" class="form-label"></label>
        <input type="time" asp-for="Reserva.HoraFin" class="form-control" />
        <span asp-validation-for="Reserva.HoraFin" class="text-danger"></span>

    </section>
    
    <section class="mb-3">
        <label asp-for="Reserva.Comentario" class="form-label"></label>
        <input asp-for="Reserva.Comentario" class="form-control" />
        <span asp-validation-for="Reserva.Comentario" class="text-danger"></span>

    </section>

 

    <button type="submit" class="btn btn-primary">Agregar</button>
    <a asp-action="ListarClientes" class="btn btn-secondary">Cancelar</a>

</form>

