@model List<capa_entidad.CE_Reservas>
@{
    ViewData["Title"] = "ListarReservas";
}

<h1>Lista de Reservas</h1>

<a asp-action="InsertarReservas" class="btn btn-success mb-3">Agregar Nueva Reserva</a>


<table class="table">
    <thead>
        <tr>
            <th>Cod.</th>
            <th>Cancha</th>
            <th>FechaReserva</th>
            <th>HoraInicio</th>
            <th>HoraFin</th>
            <th>NombreCliente</th>
            <th>Comentario</th>
            
        </tr>
    </thead>

    <tbody>
        @foreach (var reserva in Model)
        {
            <tr>
                <td>@reserva.IdReserva</td>
                <td>@reserva.NombreCancha</td>
                
                
                <td>@reserva.FechaReserva.ToShortDateString()</td>
                <td>@reserva.HoraInicio</td>
                <td>@reserva.HoraFin</td>
                <td>@reserva.NombreCliente</td>
                <td>@reserva.Comentario</td>
                <th>
                    <a asp-action="Actualizar" asp-route-id="@reserva.IdReserva" class="btn btn-primary">Editar</a>
                    <form asp-action="Eliminar" method="post" asp-route-id="@reserva.IdReserva">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este cliente?');">Eliminar</button>
                    </form>


                </th>
            </tr>
        }
    </tbody>
</table>

